::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #0b03fa;
    border-radius: 50px;
  }

nav .nav-item .nav-link:hover{
    background-color:#3944F7 ;
    color: #fff;
    border-radius: 10px;
}
